python-dotenv
jupyterlab
ipywidgets
requests
numpy
pandas
scipy
scikit-learn
matplotlib
gensim
torch
transformers
tqdm
openai
gradio
langchain
tiktoken
faiss-cpu
langchain-openai
langchain-experimental
langchain-chroma
langchain-community
datasets
sentencepiece
google-generativeai
anthropic
unstructured
chromadb
plotly
jupyter-dash
beautifulsoup4
pydub
modal
ollama
accelerate
sentence-transformers
bitsandbytes
psutil
setuptools
speedtest-cli
feedparser
